<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.untactrip3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Untactrip3">
        <activity
            android:name=".FlowDensitySi"
            android:exported="true" />
        <activity
            android:name=".test_page"
            android:exported="true" />
        <activity
            android:name=".SiMenu"
            android:exported="true" />
        <activity
            android:name=".KoreaMenu"
            android:exported="true" />
        <activity
            android:name=".FlowDensityDong"
            android:exported="true" />
        <activity
            android:name=".DongMenu"
            android:exported="true" />
        <activity
            android:name=".SeoulMenu"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>